@page "/caloriesperday"

@inherits CaloriesPerDayBase

<h3>Counting Calories at @CurrentDate</h3>

<EditForm Model="@FoodEntry">

    <div class="row">
        <ul>
            <li><label>Choose:</label></li>

            <li>
                <InputSelect id="name" @bind-Value="@Name">
                    @foreach (var food in AllFoodItems)
                    {
                        <option value="@food.Name">@food.Name</option>
                    }
                </InputSelect>
            </li>
            <li>
                <label>
                    Amount in g
                    <InputNumber id="amount" @bind-Value="FoodEntry.Amount" />
                </label>
            </li>
            <li><a class="btn btn-primary" @onclick="AddFoodEntry">Add entry</a></li>
        </ul>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Calories</th>
        </tr>
        @if (FoodToday.TotalCalories.Any())
        {
            foreach (var foodEntry in FoodToday.TotalCalories)
            {
                <tr>
                    <td>@foodEntry.Food?.Name</td>
                    <td>@foodEntry.Calories</td>
                </tr>
             }
         }
        </table>
    <p>You ate @SumUpCaloriesOfToday() calories so far :)</p>
</EditForm>

