@page "/caloriesperday"

@inherits CaloriesPerDayBase

<h3>Counting Calories at @CurrentDate</h3>
<p id="calendar"></p>

<EditForm Model="@FoodEntry">

    <div class="row">
        <p><label>Choose:</label></p><br>

        <p>
            <InputSelect id="name" @bind-Value="@Name">
                @foreach (var food in AllFoodItems)
                {
                    <option value="@food.Name">@food.Name</option>
                }
            </InputSelect>
        </p>
        <br>
        <p>
            <label>
                Amount in g
                <InputNumber id="amount" @bind-Value="FoodEntry.Amount" />
            </label>
        </p>
        <br>
        <p><a class="btn btn-primary" @onclick="AddFoodEntry">Add entry</a></p>
        <br>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Calories</th>
        </tr>
        @if (FoodToday.AllFoodEntries.Any())
        {
            foreach (var foodEntry in FoodToday.AllFoodEntries)
            {
                <tr>
                    <td><InputText id="foodname" @bind-Value="@foodEntry.FoodName" /></td>
                    <td><InputNumber id="calories" @bind-Value="@foodEntry.Calories" /></td>
                    <td><a class="btn btn-primary" @onclick="() => DeleteEntry(foodEntry)">Delete</a></td>
                </tr>
             }
         }
        </table>
    <p>You ate @SumUpCaloriesOfToday() calories so far :)</p>
</EditForm>

